// FONTS
@font-face {
    font-family: "Rubik";
    src: url("./fonts/Rubik/Rubik-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Saira";
    src: url("./fonts/Saira/Saira-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Saira";
    src: url("./fonts/Saira/Saira-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

$saira: "Saira",
sans-serif;
$rubik: "Rubik",
sans-serif;

// COLORS
$orange-gradient: linear-gradient(to right, #e65c00, #f9d423);
$black-gradient-diagonal: linear-gradient(141deg, #232526, #414345);