@import "../common";

.blogPost {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: min-content calc(calc(100vw - 20rem) * 0.6);

  padding: 3rem 0 0;
  margin: 0 10rem 3rem;

  color: #fff;
  background: $block-background;
  @include block-corners(1.6rem);

  @include respond(until-1200px) {
    grid-template-rows: min-content calc(calc(100vw - 16rem) * 0.6);
    margin: 0 8rem 3rem;
  }

  @include respond(until-900px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content calc(calc(100vw - 12rem) * 0.5);
    margin: 0 6rem 3rem;
  }

  @include respond(until-800px) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content calc(100vw - 12rem) min-content;
  }

  @include respond(until-600px) {
    grid-template-rows: min-content calc(100vw - 4rem) min-content;
    margin: 0 2rem 3rem;
  }

  &__header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    padding: 0 2rem 2rem;

    @include respond(until-800px) {
      grid-column: 1 / 2;
    }

    text-align: center;
  }

  &__title {
    font-size: 3rem;
    line-height: 3.4rem;
  }

  &__date {
    font-size: 1.6rem;
    font-family: $saira;
  }

  &__image {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  &__text {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    @include respond(until-800px) {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }

    font-family: $rubik;
    padding: 2rem 3rem;
    border-top: $white-separation-border;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
      width: 100%;
    }
  }

  &__description {
    font-size: 1.8rem;
    overflow-y: auto;
    padding-bottom: 1rem;
    .video-container {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      & > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__tags {
    border-top: $white-separation-border;
    padding-top: 1rem;
    display: flex;
    font-size: 1.4rem;
    align-items: baseline;
  }

  &__tag {
    padding: 0.2rem 0.4rem;
    border: 0.1rem solid #fff;

    &:first-child {
      margin-left: 1rem;
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
