@import "../common";

.impression {

  &>* {
    color: #fff;

    margin-bottom: 3rem;

    padding: 4rem 10rem;

    @include respond(until-1200px) {
      padding: 4rem 8rem;
    }

    @include respond(until-900px) {
      padding: 4rem 6rem;
    }

    @include respond(until-600px) {
      padding: 4rem 2rem;
    }
  }

  &__title {
    background: $red-gradient;
    font-size: 3rem;
  }

  &__3d,
  &__2d {
    display: grid;
    align-items: center;
    gap: 2rem;

    @include respond(until-600px) {
      grid-template-rows: min-content min-content;
    }
  }

  &__text {
    h2 {
      font-size: 2.4rem;
    }

    *:not(h1, h2, h3) {
      font-size: 1.8rem;
    }
  }

  &__3d {
    background: $block-background;

    grid-template-columns: 1fr 20rem;

    .impression__text {
      grid-column: 1 / 2;

      @include respond(until-600px) {
        grid-row: 1 / 2;
      }
    }

    .impression__image {
      grid-column: 2 / 3;

      @include block-corners(2rem);

      @include respond(until-600px) {
        grid-column: 1 / 2;
      }
    }
  }

  &__2d {
    background: $block-background;

    grid-template-columns: 20rem 1fr;

    .impression__text {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    .impression__image {
      grid-column: 1 / 2;
      grid-row: 1 / 2;

      @include block-corners(2rem)
    }
  }
}