@import "../common";

.main {
    padding: 8rem 10rem;
    background: $purple-gradient;
    color: #fff;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    align-items: center;

    @include respond(until-normal) {
        padding: 8rem 8rem;
    }

    @include respond(until-medium) {
        padding: 8rem 6rem;
    }

    @include respond(until-small-1) {
        padding: 8rem 2rem;
    }

    &__content {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    &__title {
        font-size: 3rem;
    }

    &__text {
        font-size: 1.8rem;

        &>*:last-child {
            margin-bottom: 0;
        }
    }

    &__image {
        grid-column: 2 / 3;

        @include block-corners(2rem);
    }
}

.details {
    padding: 3rem 10rem;

    color: #fff;
    font-size: 1.8rem;
    font-family: $rubik;

    @include respond(until-normal) {
        padding: 3rem 8rem;
    }

    @include respond(until-medium) {
        padding: 3rem 6rem;
    }

    @include respond(until-small-1) {
        padding: 3rem 2rem;
    }
}