@import "../common";

.blogList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-gap: 1.5rem;

  padding: 3rem 10rem 1.5rem;

  @include respond(until-1200px) {
    padding: 3rem 8rem 1.5rem;
  }

  @include respond(until-900px) {
    padding: 3rem 6rem 1.5rem;
  }

  @include respond(until-600px) {
    padding: 3rem 2rem 1.5rem;
  }

  @include respond(until-400px) {
    padding: 3rem 0 1.5rem;
    grid-gap: 2rem;
  }

  @include respond(from-1800px) {
    /* Doesn't work well with "text-overflow: ellipsis" in articleTitle: */
    // grid-template-columns: repeat(4, 1fr);

    /* Works fine: */
    grid-template-columns: repeat(4, calc((100% / 4) - (3 * 1.5rem / 4)));
  }

  &__article,
  &__article:link,
  &__article:visited {
    background: $block-background;
    @include block-corners(1.6rem);
    color: #fff;
    padding: 3rem;

    @include respond(until-400px) {
      padding: 2rem;
    }

    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      background: $block-background-hovered;

      .blogList__articleHeader {
        transform: translateY(0.4rem);
      }

      .blogList__articleTitle {
        @include text-gradient;
      }

      .blogList__articleImage {
        transform: translateY(-0.4rem);
      }
    }
  }

  &__articleHeader {
    margin-bottom: 2rem;
    transition: all 0.2s;
  }

  &__articleTitle {
    font-size: 2rem;
    line-height: 1;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__articleDate {
    font-family: $saira;
    font-size: 1.4rem;
  }

  &__articleImage {
    transition: all 0.2s;
  }
}