@import "../common";

.pagination {
    padding: 0 10rem 3rem;

    @include respond(until-medium) {
        padding: 0 6rem 3rem;
    }

    display: flex;
    justify-content: space-between;

    &__button,
    &__button:link,
    &__button:visited {
        font-family: $saira;
        text-decoration: none;
        color: #fff;
        font-size: 1.6rem;
        background-color: $block-background;
        padding: 0.6rem 1.2rem;

        transition: all 0.2s;

        &:hover {
            background-color: $block-background-hovered;

            .pagination__text {
                background: $link-gradient;
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    &__button_prev,
    &__button_prev:link,
    &__button_prev:visited {
        margin-right: auto;
    }

    &__button_next,
    &__button_next:link,
    &__button_next:visited {
        margin-left: auto;
    }

    &__text {
        transition: all 0.2s;
    }
}