@import "../common";

.footer {
    display: flex;
    justify-content: center;

    padding: 3rem 10rem;

    @include respond(until-normal) {
        padding: 3rem 8rem;
    }

    @include respond(until-medium) {
        padding: 3rem 6rem;
    }

    @include respond(until-small-1) {
        padding: 3rem 2rem;
    }


    background: $block-background;

    &__navigation {
        width: 100%;

        display: flex;
        justify-content: space-between;

        @include respond(until-tiny) {
            display: grid;
            grid-template-areas:
                "logo link1"
                "logo link2";
        }
    }

    &__logo {
        grid-area: logo;
    }

    &__link {

        @include respond(until-tiny) {
            &_1 {
                grid-area: link1;
            }

            &_2 {
                grid-area: link2;
            }
        }

        &,
        &:link,
        &:visited {
            color: #fff;
            font-size: 1.6rem;
            font-family: $saira;
            text-decoration: none;

            @include respond(until-tiny) {
                text-align: right;
            }

            &:hover {
                @include text-gradient;
            }
        }

    }


}