@import "../common";

.header {
    display: flex;
    justify-content: center;

    padding: 0 10rem;

    &__menu {
        width: 100%;
        height: 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link,
    &__link:link,
    &__link:visited {
        font-family: $saira;
        font-size: 1.8rem;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;

        position: relative;
        white-space: nowrap;

        &:hover {
            @include text-gradient;
        }

        // Bordures supérieures et inférieures des liens
        &:before {
            @include link-border(top);

            background: #fff;

            transform: scaleX(0);
            transform-origin: 100% 50%;

            transition: transform 0.2s ease-in-out;
        }

        &:after {
            @include link-border(bottom);

            background: #fff;

            transform: scaleX(0);
            transform-origin: 0% 50%;

            transition: transform 0.2s ease-in-out;
        }

        &:hover:before,
        &:hover:after {
            background: $link-gradient;

            transform: scaleX(1);

            transition: all 0.2s ease-in-out;
        }
    }

    &__logo {}
}