@import "../common";

.intro {
  display: flex;
  justify-content: center;

  padding: 3rem 10rem;
  background: rgba(#000, 0.25);
  color: #fff;

  &__content {
    width: 100%;
    column-count: 2;
    column-gap: 3rem;
    line-height: 1.6;
  }

  &__title {
    font-size: 3rem;
    font-family: $saira;
    margin-bottom: 2rem;
  }

  &__text {
    font-size: 1.8rem;
    font-family: $rubik;
  }
}