@import "../common";

.intro {
  display: flex;
  justify-content: center;

  padding: 3rem 10rem;
  background: rgba(#000, 0.25);
  color: #fff;

  @include respond(until-normal) {
    padding: 3rem 8rem;
  }

  @include respond(until-medium) {
    padding: 3rem 6rem;
  }

  &__content {
    width: 100%;
    column-count: 2;
    column-gap: 3rem;
    line-height: 1.6;

    @include respond(until-normal) {
      column-count: 1;
    }

    @include respond(from-large) {
      column-count: 3;
    }
  }

  &__title {
    font-size: 3rem;
    font-family: $saira;
    margin-bottom: 2rem;
  }

  &__text {
    font-size: 1.8rem;
    font-family: $rubik;
  }
}