@import "../common";

.container {
  display: flex;
  flex-direction: column;

  background-image: $page-gradient;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
