@import "../common";

.container {
  display: flex;
  flex-direction: column;

  background-image: $grey-gradient;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    // General rules for edited content
    h1,
    h2,
    h3 {
      font-family: $saira;
    }

    *:not(h1, h2, h3) {
      font-family: $rubik;
    }

    p:not(:last-child),
    ul:not(:last-child) {
      margin-bottom: 1.2rem;
    }

    ul {
      padding-left: 1.6rem;

      li:not(:last-child) {
        margin-bottom: 0.6rem;
      }
    }

    hr {
      border: none;
      border-top: dotted 0.3rem;
      border-color: #fff;
      margin: 2rem 0 2rem;
    }
  }
}