@import "../common";

.container {
  display: flex;
  flex-direction: column;

  background-image: $grey-gradient;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    // General rules for edited content
    p:not(:last-child) {
      margin-bottom: 1rem;
    }

    ul {
      padding-left: 1rem;

      li:not(:last-child) {
        margin-bottom: .6rem;
      }
    }
  }
}