/* VARIABLES */
// FONTS
$saira: "Saira",
sans-serif;
$rubik: "Rubik",
sans-serif;

// COLORS
$link-gradient: linear-gradient(to right, #e65c00, #f9d423);
$page-gradient: linear-gradient(141deg, #232526, #414345);
$block-background: rgba(#000, 0.25);
$block-background-hovered: rgba(#000, 0.5);
$mobile-navigation-background: #232526;
$white-separation-border: 0.1rem solid rgba(#fff, 0.4);

// STANDARD DIMENSIONS
$blog-grid-gap: 1.5rem;

/* MIXINS */
@mixin link-border($pos) {
  position: absolute;
  #{$pos}: 0;
  left: 0;
  right: 0;
  height: 0.1rem;
  margin: 0 auto;
  content: "";
}

@mixin text-gradient {
  background: $link-gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

// BREAKPOINT MANAGER
@mixin respond($breakpoint) {

  // Website was designed desktop first,
  // on a screen with a width between 1200px and 1800px

  // Until 1200px / 16px = 75em
  @if $breakpoint==until-medium {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  /* NORMAL DESKTOP WIDTH | No breakpoint */

  // From 1800px / 16px = 112.5em
  @if $breakpoint==from-large {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}

/* LOAD LOCAL FONTS */
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Saira";
  src: url("../fonts/Saira/Saira-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Saira";
  src: url("../fonts/Saira/Saira-SemiBold.ttf") format("truetype");
  font-weight: 600;
}