/* VARIABLES */
// FONTS
$saira: "Saira",
sans-serif;
$rubik: "Rubik",
sans-serif;

// COLORS
$link-gradient: linear-gradient(to right, #e65c00, #f9d423);
$page-gradient: linear-gradient(141deg, #232526, #414345);
$block-background: rgba(#000, 0.25);
$block-background-hovered: rgba(#000, 0.5);
$white-separation-border: 0.1rem solid rgba(#fff, 0.4);

/* MIXINS */
@mixin link-border($pos) {
    position: absolute;
    #{$pos}: 0;
    left: 0;
    right: 0;
    height: 0.1rem;
    margin: 0 auto;
    content: "";
}

// LOAD LOCAL FONTS
@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik/Rubik-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Saira";
    src: url("../fonts/Saira/Saira-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Saira";
    src: url("../fonts/Saira/Saira-SemiBold.ttf") format("truetype");
    font-weight: 600;
}