/* VARIABLES */
// FONTS
$saira: "Saira",
sans-serif;
$rubik: "Rubik",
sans-serif;

// COLORS
$dark-1: #232526;
$orange-gradient: linear-gradient(to right, #e65c00, #f9d423);
$red-gradient: linear-gradient(to right, #ed213a, #93291e);
$blue-gradient: linear-gradient(to right, #36d1dc, #5b86e5);
$blue-gradient-2: linear-gradient(to right, #283c86, #45a247);
$green-gradient: linear-gradient(to right, #11998e, #38ef7d);
$green-gradient-2: linear-gradient(to right, #093028, #237a57);
$purple-gradient: linear-gradient(to right, #6441a5, #2a0845);
$grey-gradient: linear-gradient(141deg, #232526, #414345);
$block-background: rgba(#000, 0.25);
$block-background-hovered: rgba(#000, 0.5);
$white-background-text: #414345;
$white-separation-border: 0.1rem solid rgba(#fff, 0.4);

/* MIXINS */
@mixin link-border($pos) {
  position: absolute;
  #{$pos}: 0;
  left: 0;
  right: 0;
  height: 0.1rem;
  margin: 0 auto;
  content: "";
}

@mixin block-corners($corners-size) {
  clip-path: polygon(
    /* top left */
    0 $corners-size,
    $corners-size 0,
    /* top right */
    calc(100% - #{$corners-size}) 0,
    100% $corners-size,
    /* bottom right */
    100% calc(100% - #{$corners-size}),
    calc(100% - #{$corners-size}) 100%,
    /* bottom left */
    $corners-size 100%,
    0 calc(100% - #{$corners-size}));
}

@mixin block-corners-to-right($corners-size) {
  clip-path: polygon(
    /* top left */
    0% $corners-size,
    $corners-size 0%,
    /* top right */
    100% 0,
    /* bottom right */
    100% calc(100% - #{$corners-size}),
    calc(100% - #{$corners-size}) 100%,
    /* bottom left */
    0 100%);
}

@mixin block-corners-to-left($corners-size) {
  clip-path: polygon(
    /* top left */
    0 0,
    /* top right */
    calc(100% - #{$corners-size}) 0,
    100% $corners-size,
    /* bottom right */
    100% 100%,
    /* bottom left */
    $corners-size 100%,
    0 calc(100% - #{$corners-size}));
}

@mixin text-gradient {
  background: $orange-gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

// BREAKPOINT MANAGER
@mixin respond($breakpoint) {
  // Website was designed desktop first,
  // on a screen with a width between 1200px and 1800px

  // Until 400px / 16px = 25em
  @if $breakpoint==until-400px {
    @media only screen and (max-width: 25em) {
      @content;
    }
  }

  // Until 600px / 16px = 37.5em
  @if $breakpoint==until-600px {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  // Until 800px / 16px = 50em
  @if $breakpoint==until-800px {
    @media only screen and (max-width: 50em) {
      @content;
    }
  }

  // Until 900px / 16px = 56.25em
  @if $breakpoint==until-900px {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  // Until 1200px / 16px = 75em
  @if $breakpoint==until-1200px {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  /* "NORMAL" DESKTOP WIDTH | No breakpoint */

  // From 1800px / 16px = 112.5em
  @if $breakpoint==from-1800px {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}

/* LOAD LOCAL FONTS */
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Saira";
  src: url("../fonts/Saira/Saira-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Saira";
  src: url("../fonts/Saira/Saira-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}